<div class="lg:w-3/12 mt-40 p-10 shadow-blue-400 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold text-blue-400">Register</h3>
    <form [formGroup]="registerForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="firstName" class="p-2 border border-gray-200 rounded" type="text" placeholder="First name">
            @if (registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.dirty) {
            <span class="text-red-500">* First name is required</span>
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="lastName" class="p-2 border border-gray-200 rounded" type="text" placeholder="Last name">
            @if (registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.dirty) {
            <span class="text-red-500">* Last name is required</span>
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-200 rounded" type="text" placeholder="Email Id">
            @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.dirty) {
            <span class="text-red-500">* Email id is required</span>
            }
            @if (registerForm.get('email')?.hasError('email')){
            <span class="text-red-500">* Invalid Email Id</span>
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="userName" class="p-2 border border-gray-200 rounded" type="text" placeholder="User name">
            @if (registerForm.get('userName')?.hasError('required') && registerForm.get('userName')?.dirty) {
            <span class="text-red-500">* User name is required</span>
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border border-gray-200 rounded" type="text" placeholder="Password">
            @if (registerForm.get('password')?.hasError('required') && registerForm.get('password')?.dirty) {
            <span class="text-red-500">* Password is required</span>
            }
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="confirmPassword" class="p-2 border border-gray-200 rounded" type="text" placeholder="Confirm password">
            @if (registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.dirty) {
            <span class="text-red-500">* Confirm password is required</span>
            }
            @if (registerForm.get('confirmPassword')?.hasError('confirmPasswordValidator') && registerForm.get('confirmPassword')?.dirty ) {
            <span class="text-red-500">* Password didn't match</span>
            }
        </div>
        <div class="mt-2 text-center">
            <button [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" class="bg-blue-500 p-2 rounded mt-3 text-white" (click)="register()">Submit</button>
        </div>
    </form>
    <div class="flex justify-center mt-5">
        <span>Already have an account?</span><a routerLink="/login" class="text-blue-600 ml-2 cursor-pointer">login here</a>
    </div>
</div>