<div class="lg:w-3/12 mt-5 p-10 shadow-blue-400 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold text-blue-400">Forget password</h3>
    <form [formGroup]="forgetPasswordForm" class="flex flex-col">
        <span class=" mt-2 mb-4 text-red-500">Enter your email and we'll send you instructions on how to reset password</span>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-200 rounded" type="text" placeholder="Email Id">
            @if (forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.dirty) {
            <span class="text-red-500">* Email id is required</span>
            }
            @if (forgetPasswordForm.get('email')?.hasError('email')){
            <span class="text-red-500">* Invalid Email Id</span>
            }
        </div>
        <div class="mt-2">
            <button [disabled]="forgetPasswordForm.invalid" [class.disabled]="forgetPasswordForm.invalid" class="bg-blue-500 w-1/4 mr-3 p-2 rounded mt-3 text-white" (click)="sendEmail()">Submit</button>
            <button routerLink="/login" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancel</button>
        </div>
    </form>
</div>